<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="Magento\Catalog\Model\Product" type="SP\Slider\Model\Product" />-->
    <type name="Magento\Catalog\Api\Data\ProductInterface">
        <plugin name="sp_catalog_product" type="SP\Slider\Model\Plugin\Product" />
    </type>
    <virtualType name="virtualHelper" type="Magento\Catalog\Helper\Product">
        <arguments>
            <argument name="catalogSession" xsi:type="object">SP\Slider\Model\Session\Proxy</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Api\Data\ProductInterface">
        <arguments>
            <argument name="catalogProduct" xsi:type="object">virtualHelper</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="alt_generation" xsi:type="object">SP\Slider\Console\Command\AltGenerationCommand</item>
                <item name="add_item" xsi:type="object">SP\Slider\Console\Command\AddSliderItemCommand</item>
            </argument>
        </arguments>
    </type>
</config>