<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SP_Events::events" title="Events" sortOrder="51">
                    <resource id="SP_Events::grid" title="Events Add" sortOrder="10"/>
                    <resource id="SP_Events::add" title="Events Add" sortOrder="10"/>
                    <resource id="SP_Events::events_configuration" title="Configuration" sortOrder="99" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>